@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo', sans-serif;
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}

/* single sard's styles */
.single-card {
  border: 2px solid #0b5ed7;
  border-radius: 10px;
  padding: 10px;
}
.single-card img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .description {
    font-size: 10px;
  }
  .location {
    display: none;
  }

}

/* Filter Section */
.filter-body {
  display: flex;
  flex-direction: row;
  padding: 1.2em;
}
